<form action="/crear" method="POST">	
	<input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
	<input type="text" name="nombre">
	<input type="text" name="telefono">
	<input type="submit">
</form>